# Visual Studio files
*.pdb
*.lastcodeanalysissucceeded
*.suo
*.sdf
*.ilk
*.opensdf
*.lpch
*.vcxproj.user
*.log
*.txt
*.obj
.vs/
*.exe.recipe
*.exp
*.dll.recipe
*.tlog
*.lastbuildstate
*.idb
*.pch
bin/
obj/
pdb/